body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.user-card{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 2%;
  color: white;
  margin: 0.8rem auto;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.user-box{
  background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.photo-cont{
  width: 95%;
  max-width: 300px;
  margin: 0.5rem auto;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.smheading{
  text-align: center;
  font-size: 1.2rem;
  padding: 2%;
}
img{
  width: 100%;
  object-fit: cover;
}

.user-title{
  font-weight: 900;
  color: coral;
}
.album-title{
  font-size: 2rem;
  margin-bottom: .8rem;
  text-transform: capitalize;
  padding: 2%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.album-cont{
  background: linear-gradient(to right, #ad5389, #3c1053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width:412px){
  .album-cont{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .user-card{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
}
